footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner iframe {
    width: 100%;
    margin: auto;
    min-height: 200spx;
}

@media (max-width: 30px) {
    .carousel-caption {
        display: none;
    }
}

#galeria {
    background-color: rgb(197, 56, 56);
    background-size: cover;
    background-position: center;
}

#acerca {
    color: darkblue;
    font-family: system-ui;
}

#inicio {
    color: black;
    background-color: rgba(64, 207, 255, 0.76);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#acerca-tag {
    background-color: white;
    width: 80%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border: solid 2px green;
    border-radius: 10px;
}

.barra {
    overflow: hidden;
    background-color: #020202;
    border: 5px solid darkblue;
    box-shadow: 10px 10px 5px 12px rgb(3, 119, 3);
}

.barra a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.barra a:hover {
    background-color: rgb(3, 119, 3);
    color: black;
    border-radius: 10px;
}

.barra a.active {
    background-color: #04AA6D;
    color: white;
}

.barra .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .barra a:not(:first-child) {
        display: none;
    }
    .barra a {
        float: left;
        display: block;
        text-align: left;
    }
    .barra a.icon {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
    }
    #inicio {
        color: black;
        background-color: background-color: rgba(64, 207, 255, 0.76);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .nosotros {
        width: 100%;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        border: solid 2px black;
        border-radius: 34px;
        background-color: rgb(231, 135, 9);
    }
}

@media screen and (max-width: 600px) {
    .barra.responsive {
        position: relative;
    }
    .barra.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .barra.responsive a {
        float: left;
        display: block;
        text-align: right;
    }
}


/*Flecha para hacer la pagina hacia arriba*/

.ir-arriba {
    display: none;
    background-repeat: no-repeat;
    font-size: 30px;
    color: black;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}