.navbar {
    margin-bottom: 0;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner iframe {
    width: 100%;
    margin: auto;
    min-height: 200spx;
}

@media (max-width: 30px) {
    .carousel-caption {
        display: none;
    }
}

#cajaformulario {
    width: 50%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border: solid 2px black;
    border-radius: 34px;
}

#cajaformulario h3 {
    margin-left: 30px;
}

#cajabtn {
    margin-bottom: 10px;
    margin-left: 40%;
}

#cruceros {
    background-image: url("https://previews.123rf.com/images/kroljaaa/kroljaaa1909/kroljaaa190900048/130722887-gafas-negras-ojos-de-patrones-sin-fisuras-sobre-fondo-blanco-los-anteojos-ilustraci%C3%B3n-vectorial-fond.jpg");
    background-size: cover;
    background-position: center;
}

#acerca {
    color: #04AA6D;
    background-color: #04AA6D;
}

#acerca-tag {
    background-color: black;
    width: 70%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border: solid 2px black;
    border-radius: 34px;
}

.barra {
    overflow: hidden;
    background-color: #020202;
    border: 5px solid darkblue;
    box-shadow: 10px 10px 5px 12px rgb(3, 119, 3);
}

.barra a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.barra a:hover {
    background-color: rgb(3, 119, 3);
    color: black;
    border-radius: 10px;
}

.barra a.active {
    background-color: #04AA6D;
    color: white;
}

.barra .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .barra a:not(:first-child) {
        display: none;
    }
    .barra a.icon {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
    }
    .nosotros {
        width: 100%;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        border: solid 2px black;
        border-radius: 34px;
        background-color: rgb(231, 135, 9);
    }
}

@media screen and (max-width: 600px) {
    .barra.responsive {
        position: relative;
    }
    .barra.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .barra.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}